<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name="com.artemis.uisdk.chat.TemplatePreviewActivity"
            android:exported="true" android:theme="@style/Theme.ArtemisUI"
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>
